@font-face {
    font-family: "jersey_10";
    src: url(assets/Jersey10-Regular.ttf) format("truetype");
}

* {
    font-family: jersey_10, sans-serif;
}

body {
    margin: 0;
}

.background {
    position: fixed;
    inset: 0;
    background-image: url(assets/home.png);
    background-size: cover;
    background-position: center;
    filter: blur(8px) brightness(40%);
    z-index: -1;
    transform: scale(1.1);
}

:root{
    --header-height: 80px;
}


.header {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 2px 12px;

    background-color: #c6c6c6;
    background-image: url(assets/dirt_texture.png);
    background-repeat: repeat;
    background-position: 14px 0px;
    background-size: auto 128px;
    background-blend-mode: multiply;
    border-bottom: 4px solid black;
}

.header-left {
    display: flex;
    align-items: center;
    gap: 14px;
}

.logo {
    width: 220px;
    height: 50px;
    margin: 12px;
}

/* titulo + subtitulo */
.header-text h1 {
    color: #d4d4d4;
    text-shadow:
        2px 2px 0 #1a1a1a,
        -2px -2px 0 #1a1a1a,
        2px -2px 0 #1a1a1a,
        -2px 2px 0 #1a1a1a;
    margin: 0;
    font-size: 30px;
}

.header-text p {
    color: #ffe91f;
    text-shadow:
        1px 1px 0 #000000,
        -1px -1px 0 #000000,
        1px -1px 0 #000000,
        -1px 1px 0 #000000;
    margin: 0;
    font-size: 28px;
}

/* navegación */
.header-nav ul {
    display: flex;
    gap: 24px;
    list-style: none;
    margin: 0;
    padding-right: 14px;
    transition: all 0.15s ease;
}

.header-nav a {
    text-decoration: none;
    color: #474747;
    font-size: 26px;
    padding: 10px 28px;
    line-height: 1;
    transition: all 0.15s ease;
    background-color: #c6c6c6;
    border: 4px solid #000;
    border-radius: 2px;
    box-sizing: border-box;

    box-shadow:
        inset 3px 3px 0 #ffffff,
        inset -3px -3px 0 #555555;
}

/* hover estilo minecraft */
.header-nav a:hover {
    color: white;
    background-color: rgb(0, 163, 82);
    border: 4px solid white;
    box-shadow:
        inset 2px 2px 0 #b6fd32,
        inset -2px -2px 0 #00723d;
}


h1 {
    font-size: 64px;
    font-weight: bold;
}

h2 {
    font-size: 28px;
    font-weight: lighter;
}

.button {
    font-size: 32px;
    background-color: #c6c6c6;
    color: #474747;
    padding: 10px 20px;
    min-width: 220px;
    text-align: center;

    border: 4px solid #000;
    border-radius: 2px;
    box-sizing: border-box;

    box-shadow:
        inset 3px 3px 0 #ffffff,
        inset -3px -3px 0 #555555;

    cursor: pointer;
    transition: all 0.07s;
}

.button:hover {
    background-color: rgb(0, 163, 82);
    color: white;
    border: 4px solid rgb(255, 255, 255);
    cursor: pointer;
    box-shadow:
        inset 3px 3px 0 #b6fd32,
        inset -3px -3px 0 #00723d;
    transform: scale(1.08);
}

@media (max-width: 1500px) {
    .header-text {
        display: none;
    }
}

.image-modal {
  position: fixed;
  inset: 0;

  background: rgba(0,0,0,0.85);

  display: flex;
  justify-content: center;
  align-items: center;

  opacity: 0;
  pointer-events: none;

  transition: opacity 0.2s ease;
  z-index: 999;
}

/* cuando está activo */
.image-modal.open {
  opacity: 1;
  pointer-events: all;
}

.image-modal img {
  max-width: 90%;
  max-height: 90%;
  image-rendering: pixelated;
  border: 4px solid black;
}

/* botón cerrar */
.image-close {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 32px;
  color: white;
  cursor: pointer;
}


