.tree {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: minmax(80px, auto);
  gap: 60px 20px;
  justify-items: center;
  transition: transform 0.4s ease;
}

.step1 {
  grid-column: 3;
  grid-row: 1;
}

.step2 {
  grid-column: 3;
  grid-row: 2;
}

.step3 {
  grid-column: 3;
  grid-row: 3;
}

.step4 {
  grid-column: 2 / 5; 
  grid-row: 4;

  display: flex;
  gap: 40px;
  justify-content: center;
}
